/* 
Funções Matemáticas 

calc()
max()
min()

width

*/

.area {
    background-color: darkblue;
    color: white;
    text-align: center;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
}